// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #1E1B18;

$navbar-background: #3C3C3C;
$navbar-title: #FFFAFF;
$navbar-text: #CACFD6;
$navbar-accent: #EE4266;

$cb-header: #CACFD6;